{{ define "main" }}
<section>
  <h1>{{ .Title }}</h1>
  {{ with .Content }}<div class="section-intro">{{ . }}</div>{{ end }}
  {{ if eq .Section "publications" }}
    {{ $pages := (where .RegularPages "Params.pub_type_filter" nil).ByDate.Reverse }}
    {{ $journal := where $pages "Params.pub_type" "journal" }}
    {{ $conf := union (where $pages "Params.pub_type" "international-conference") (where $pages "Params.pub_type" "international_conference") }}
    {{ $domestic := union (where $pages "Params.pub_type" "domestic-conference") (where $pages "Params.pub_type" "domestic_conference") }}
    {{ $others := union (where $pages "Params.pub_type" "others") (where $pages "Params.pub_type" "talk") }}
    {{ $unset := where $pages "Params.pub_type" nil }}
    {{ $othersAll := union $others $unset }}
    <ul class="clean-list">
      <li><a href="{{ "/publications/journal/" | relURL }}">Journal</a> <span class="meta">({{ len $journal }})</span></li>
      <li><a href="{{ "/publications/international-conference/" | relURL }}">International Conference</a> <span class="meta">({{ len $conf }})</span></li>
      <li><a href="{{ "/publications/domestic-conference/" | relURL }}">Domestic Conference</a> <span class="meta">({{ len $domestic }})</span></li>
      <li><a href="{{ "/publications/others/" | relURL }}">Others</a> <span class="meta">({{ len $othersAll }})</span></li>
    </ul>
  {{ else }}
    <ul class="clean-list">
      {{ range .Pages.ByDate.Reverse }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ if .Date }}<span class="meta">{{ .Date.Format "2006-01-02" }}</span>{{ end }}
        </li>
      {{ end }}
    </ul>
  {{ end }}
</section>
{{ end }}
